img {
    height: 65px;
}
.navbar {
    font-size: 18px;
    border-bottom: 3px double #b9bbbe;
    margin-bottom: 3%;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.active {
    color: blue;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 30px;
}

.links > a, .sign>a {
    color: black;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

.form-inline {
    display: block;
    margin-top: 3%;
}
.courses-style {
    box-shadow: 1px 2px 7px gray;
    border-radius: 5px;
    padding:20px 40px;
    margin-top:4%;
}
.modal-title {
    font-weight: bolder;
    padding-top:6%;
}
.modal-subtitle {
    margin-top: 4%;
}
.divider-with-text{
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}
.divider-with-text span{
    background-color: #f5f5f5;
    padding: 5px 5px;
}
.divider-with-text:before{
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}
.helper-text {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #7b7b7b;
    margin-bottom: 25px;
    margin-top:-20px;
}
.pleft {
    padding-left: 40px;
}
.icon-form {
    position: relative;
    bottom: 26px;
    left: 15px;
}
.close {
    position: relative;
    top: 18px;
    right: 428px;
    font-size:2.35rem;
    color: white;
    opacity: 1;
}
.close:hover {
    background-color: blue;
    border-radius: 10px;
    color: white;
}
.tutorial:hover, .sign:hover {
    background-color: #0247FE;
    color: white;
    border-radius: 9px;
}


