img {
    height: 65px;
}

.navbar {
    font-size: 18px;
    border-bottom: 3px double #b9bbbe;
    margin-bottom: 3%;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.active {
    color: blue;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 30px;
}

.links > a {
    color: black !important;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

.form-inline {
    display: block;
    margin-top: 3%;
}
